@model IEnumerable<BazaAwionika.Web.ViewModel.AircraftSmallViewModel>


@{
    ViewBag.Title = "Samoloty";
}



    <div class="navbar" id="AircraftListNavBar">
        @foreach (BazaAwionika.Web.ViewModel.AircraftSmallViewModel item in Model)
        {
            <a href="#"><i class="fa fa-fw fa-plane"></i> @item.TailNumber<br>@item.FlightHours FH<br>@item.AircraftStatusName</a>
        }

    </div>
