@model BazaAwionika.Web.ViewModel.TestEfisDcfTruViewModel

@{
    ViewBag.Title = "Testy";
}

<div class="row" id="triple_column">
    <div class="column" id="dcf">
        <partial name="../TestDcf/Index.cshtml" />
    </div>
    <div class="column" id="efis">
        <partial name="../TestEfis/Index.cshtml" />
    </div>
    <div class="column" id="tru">
        <partial name="../TestTru/Index.cshtml" />
    </div>
</div>