@model BazaAwionika.Web.ViewModel.TestEfisDcfTruViewModel

@{
    ViewBag.Title = "Testy";
}

<div class="row" id="triple_column">
    <div class="column" id="dcf">
        @Html.Action("Index","TestDcf")
    </div>
    <div class="column" id="efis">
        @Html.Action("Index", "TestEfis")
    </div>
    <div class="column" id="tru">
        @Html.Action("Index", "TestTru")
    </div>
</div>