@using BazaAwionika.Web.ViewModel;
@model IEnumerable<AircraftStatusViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AircraftLayout.cshtml";
}



<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
<div id="itemDetails">
</div>


<script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    var original = "";

    $(".kliki").hover(function () {
        original = $(this).css("background-color");

        $(this).css("background-color", "#ddd");
    }, function () {
        $(this).css("background-color", original);
    });


</script>
<script type="text/javascript">

        $(".kliki").on("click", function () {
            var itemId = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Details", "AircraftStatus")",
                type: "GET",
                data: {
                    "id": itemId
                },
                success: function (result) {
                    $("#itemDetails").html(result);
                },
                error: function (data) {
                    console.log("ERROR: ", data)
                }
            })
        });




</script>