@using BazaAwionika.Web.ViewModel;
@model IEnumerable<BazaAwionika.Web.ViewModel.AircraftFullViewModel>

@{
    ViewBag.Title = "Index";
}
<p>Samoloty</p>
<p>
    @Html.ActionLink("Stwórz nowy", "Create")
</p>


<table id="vertical-1">
    <caption>First Way</caption>
    <tr>
        <th>Lp.</th>
        <th>Nazwa / czynności do wykonania</th>
        <th>Częstotliwość wykonania</th>
    </tr>
    <tr>
        <th>ELT</th>
        <th>100 FH lub 3 miesiące</th>
    </tr>
    <tr>
        <th>ELT</th>
        <th>Zgodnie z datą ważności baterii</th>
    </tr>
</table>




